body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1250px;
  margin-top: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

/* chart styles */

.line-chart {
  width: 50%;
  max-width: 50%;
  margin-left: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* margin: 20px 0; */
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-bars {
  display: flex;
  align-items: flex-end; /* Выравниваем бары по нижней части */
  gap: 10px;
  width: 100%;
  height: 200px; /* Высота графика */
  border-left: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}

.bar {
  width: 30px;
  background-color: #4caf50;
  border-radius: 5px;
  transition: height 0.3s ease;
}

.bar:hover {
  background-color: #388e3c;
}

.label {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  color: #555;
}

/* calendar styles */

.calendar {
  width: 50%;
  margin-right: 10px;
  max-width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Семь колонок для недели */
  gap: 10px;
  margin-top: 10px;
}

.calendar-days .empty {
  visibility: hidden; /* Пустые ячейки будут невидимыми */
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.day.selected {
  background-color: #e8f5e9;
  border: 2px solid #4caf50;
  color: #4caf50;
}

.calendar .day.selected {
  border: 2px solid #4caf50;
  border-radius: 50%;
  color: #4caf50;
  font-weight: bold;
}

/* стили для статистики */
.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  height: 100px;
}

.stats-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* стили для списка сессий */

/* .calendar, */
/* .chart, */
.sessions {
  margin: 20px 0;
  /* margin-bottom: 20px; */
  padding: 20px;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.sessions ul {
  list-style: none;
  padding: 0;
}

.sessions li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sessions ul {
  list-style: none;
  padding: 0;
}

.sessions li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sessions li:last-child {
  border-bottom: none;
}


/* tooltip styles */

.tooltip {
  position: absolute;
  display: block; /* Сделать блок видимым для анимации */
  background-color: #f9f9f9;
  border: 1px solid #fafafa;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 200px;

  /* Начальное состояние */
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; /* Чтобы не мешал взаимодействию, пока невидим */
}

.tooltip.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* Включаем взаимодействие, когда виден */
}


/* load time styles */

.time-container {
  width: 90%;
  max-width: 1250px;
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

#time {
  color: #9ca3af;
}


.month-calendar {
    width: 200px; /* Ширина элемента */
    padding: 10px; /* Внутренний отступ */
    border: 1px solid #ccc; /* Цвет границы */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
    font-size: 14px; /* Размер текста */
    color: #333; /* Цвет текста */
    background-color: #f9f9f9; /* Цвет фона */
    transition: all 0.3s ease; /* Анимация */
}

.month-calendar:focus {
    border-color: #4caf50; /* Цвет границы при фокусе */
    box-shadow: 0 4px 8px rgba(76, 175, 80, 0.2); /* Более интенсивная тень при фокусе */
    outline: none; /* Убираем стандартный контур фокуса */
    background-color: #ffffff; /* Светлый фон при фокусе */
}

.calendar-wrapper {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

/* loader */

.loader {
  display: flex;
  align-items: center;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  animation: spin 1s linear infinite;
  stroke: rgba(107, 114, 128, 1);
}

.loading-text {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: rgba(107, 114, 128, 1);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
